<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../public/stylesheets/reset.css">
    <link rel="stylesheet" href="../../../public/library/awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="init.css">
</head>
<body>
<div class="top-block">
    <img src="images/master.jpg"/>
    <div class="banner"></div>
</div>
<div class="main">
    <nav class="menu">
        <ul class="sidebar">
            <li class="active"><a href="javascript:void(0)">What has he done in 2016</a></li>
            <li><a href="javascript:void(0)">国家奖学金</a></li>
            <li><a href="javascript:void(0)">CSDN 博客之星提名奖</a></li>
            <li><a href="javascript:void(0)">小挑国家级银奖</a></li>
            <li><a href="javascript:void(0)">研究《圣经》新约</a></li>
            <li><a href="javascript:void(0)">学习前端开发</a></li>
            <li><a href="javascript:void(0)">加入了数字媒体技术研究所</a></li>
        </ul>
    </nav>
    <div class="primary">
        <ul class="intro">
            <li><span class="fa fa-search icon"></span></li>
            <li><span>25</span>blogs</li>
            <li><span>3694</span>visitors</li>
            <li><span>1305</span>thumbsUp</li>
            <li>His favourite<span class="fa fa-chevron-down"></span></li>
            <li class="bottom-line"></li>
        </ul>

        <ul class="blog-pic-list">
            <li><a href="javascript:void(0)"><img src="images/Israel.jpg" data-name="visit Israel"/></a></li>
            <li><a href="javascript:void(0)"><img src="images/web.jpg" data-name="do web development"/></a></li>
            <li><a href="javascript:void(0)"><img src="images/church.jpg" data-name="visit church in Europe"/></a></li>
        </ul>
        <div class="describe">
            visit Israel
        </div>
        <ul class="blog-pic-list">
            <li><a href="javascript:void(0)"><img src="images/family.jpg" data-name="see my family smile"/></a></li>
            <li><a href="javascript:void(0)"><img src="images/godfather.jpg" data-name="watch classic movie like godfather from time to time"/></a></li>
            <li><a href="javascript:void(0)"><img src="images/cross.jpg" data-name="do what God calls me to do"/></a></li>
        </ul>
    </div>
    <script src="../../../public/library/jquery/jquery-1.12.0.min.js"></script>
    <script src="init.js"></script>
</div>
</body>
</html>